<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smoff.smoff.mapper.PatienceLogMapper">

    <resultMap id="PatienceLogResultMap" type="com.smoff.smoff.entity.PatienceLog">
        <id property="PatienceLogId" column="patience_log_id" />
        <result property="challengerId" column="challenger_id" />
        <result property="amountSave" column="amount_save" />
        <result property="createDt" column="create_dt" />
    </resultMap>

    <insert id="addPatienceLog" >
        insert into
            patience_log_tb
        values (0, #{challengerId}, 225, now())
    </insert>

    <select id="getPatienceLog" resultMap="PatienceLogResultMap">
        select
            *
        from
            patience_log_tb
        where
            patience_log_id = #{patienceLogId} AND challenger_id = #{challengerId}
    </select>

    <select id="getPatienceLogList" resultMap="PatienceLogResultMap">
        select
            *
        from
            patience_log_tb
        where
            challenger_id = #{challengerId}
    </select>
</mapper>